[Unit]
Description=Update AUR Package Cache
After=network.target

[Service]
Type=oneshot
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
WorkingDirectory=/home/markr/work/credfeto-aur2repo
ExecStart=/usr/bin/flock -n /tmp/update-packages.lock -c /home/markr/work/credfeto-aur2repo/update-packages

